@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Abril Fatface', cursive;
}
body {
    min-height: 100vh;
    background-image: url('images/plane.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 38%;
    height: 14rem;
    margin-top: 4rem;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h1 {
    color: white;
    font-weight: lighter;
    font-size: 4rem;
    line-height: 14rem;
    text-align: center;
}
form {
    width: 38%;
    padding: 2rem;
    padding-right: 10rem;
    background-color: #fff;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.form-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 2rem;
}
label {
    line-height: 4rem;
    font-size: 2rem;
    margin-right: 1rem;
}
input, select {
    padding: 7px;
    border-radius: 3px;
    border: 2px solid silver;
}
.error {
    border-color: red;
}
select {
    background-color: white;
}
button {
    width: 16rem;
    height: 4rem;
    font-size: 2rem;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: black;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
}
button:hover {
    transform: scale(1.1);
}